<div class = "content">
	<div id="welcome">
		<div class="wel">
		<h2>PLACES TO VISIT</h2>
		<%= link_to image_tag("ecu1.jpg", alt: "places"), id: "places" %><hr>
		<%= link_to t(:survey), '#', class: "button [radius round]" %>

		</div>
	</div>
</div>
