// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content {
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
}

.footer {
  background: #212D48;
  height: 50px;
  position: relative;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  color: #aaa;
  text-align: center;
  width: 100%; 
}