<footer class="footer">
  <div class="large-12 columns">
      <hr>

      <div class="row">
        <div class="large-4 columns">
          <p><small><a href="">Ecuador Travel</a> by Andrea Becerra</small></p>
        </div>
        <div class="large-4 columns">
          <p><%= link_to t('.about'),   about_path %></p>
        </div>

        <div class="large-4 columns">
          <p><%= link_to t('.contact'), contact_path %></p>
        </div>
      </div>
    </div>
  </footer>